@font-face {
    font-family: "Din";
    src: url("assets/DINCondensed-Regular.ttf");
    /* src: url("assets/"); */
}
html, body{
    font-family:"Din";
    padding:0;
    margin:0 auto;
    background-color: black;
    /* overflow: hidden; */
    /* max-width: 1300px; */
}
.intro{
    margin:0;
    height: 780px;
    background-image: url("assets/bg_travis.jpg");
    background-repeat: no-repeat;   
    background-size:cover;
    -webkit-background-origin: border-box;
}
nav{
    /* margin: 20px 40px 0px 0px; */
color:white;
display: flex;
flex-direction: column;
width: 100%;
/* justify-content: end; */
align-items: flex-end;
height:55px;
}
nav ul {
    margin-bottom:20px;
    cursor: pointer;
    /* font-weight: 700; */
    text-transform: uppercase;
    font-family: "Din";
    margin-right:30px;
    font-size: 25px;
    display: flex;
    width: 500px;
    justify-content:space-between;
    list-style: none;
}
nav li:hover{
    color:rgba(161, 100, 253);;
}
hr{
    position:absolute;
    /* display: block; */
    width: 500px;
    right:0;
    margin-right:30px;
}
.intro-headline{
    height: fit-content;
    text-transform: uppercase;
margin:50px 50px 0px 0px;
color:white;
font-size: 100px;
width: 100%;
display: flex;
justify-content: end;
align-items: center;
}
.intro-headline span{
font-size: 80px;
}
.intro-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:90%;
    color:white;
    margin-left:100px;
    margin-bottom:80px;
    transition: 1s;
}
.intro-text{
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom:40px;
}

.intro-text h1{
    margin:0px 0px 25px 0px;
}
.intro-text span{
    display: block;
    font-size: 55px;
}
.intro-text span span{
    display: inline-block;
    color:rgba(161, 100, 253);
}
.intro-text-adress{
    font-size: 30px;
    margin-top:10px;
}
.intro-buttons{
    width: 430px;
    display: flex;
    justify-content: space-between;
    transition: 1.5s;
}
.intro-buttons button{
    cursor:pointer;
    height: 50px;
    width: 200px;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color:white;
    font-family: "Din";
    font-size: 25px;
    text-transform: uppercase;
    transition:0.5s

}
.intro-buttons button:hover{
    border:1px solid rgba(161, 100, 253);;
    transition: ease-in-out 0.5s;
    background-color: rgba(161, 100, 253);;
}
.intro-buttons button:active{
    color:black;
    transition:0.5s
}
.break-intro-gallery{
    display: flex;
    align-items: center;
    position:relative;
    height: 200px;
    width: 1400px;
    overflow: hidden;
}
.line{
    margin-top:20px;
    position: absolute;
    color:white;
    font-size: 60px;
    right:-800px;
}
.line span{
    color:rgba(161, 100, 253);;
}
.gallery{
    position: relative;
    /* overflow: hiddsen; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    align-items: center;
    /* opacity:0.5; */
    /* background-image: url("assets/bg_gallery.jpg"); */
}
.slider{
    position: relative;
    width: 100%;
    /* background-color: #fff; */
    height: 100%;
    /* width: 800px;
    height: 600px; */
    /* border:1px solid white; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 5px;
    gap:1%
    /* z-index: 3; */
}
#active{
z-index: 2;
left:unset;
right:25%;
width: 50%;
height: 68%;
overflow: hidden;
}
#right{
    left:unset;
    right:-10%;
}
#left{
    left:-10%;
}
.slider-inner{
    transition: 0.5s all;
    display: flex;
    align-items: center;
    gap: 2%;
}
.slider-next, .slider-prev{
    position: absolute;
    right: 0;
    height: 100%;
    /* background-color: #fff; */
    opacity: 0.1;
    width: 300px;
    cursor: pointer;
    z-index: 2;
}
.slider-prev{
    left:0;
    right:unset;
   
}
.slider-count{
    /* bottom:0; */
    position: absolute;
    left:70%;
    top:0;
    z-index: 3;
    font-size: 70px;
    color:#fff;
}
.slider-item{
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    height: 50%;
    width: 30%;
    left: -45px; /* !!!!! */
    border-radius: 5px;
    border:1px solid rgb(22, 22, 22);
}
.slider-item img{
/* overflow: hidden; */
object-fit: cover;
width: 800px;
height: 600px;
}
.equip{
    height: 850px;
}

.equip-headline{
    padding:0;
    margin:0;
    background-color: black;
    height: 110px;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* background-image: url("assets/equip_bg.png"); */
    background-size:initial;
}
.equip-headline div{
    color:white;
    text-align: center;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    align-content: center;
    
}
.equip-wrapper{
    
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('assets/equip_bg.png');
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;

}
.filter{
    backdrop-filter: grayscale(100%); 
    width: 100%;
    height: 100%;
}
.equip-dot{
    display: none;
    z-index: 2;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 23, 150, 0);
    /* border:2px solid rgb(150, 23, 150); */
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.animated-dot{
    position: absolute;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    border: 2px solid rgba(161, 100, 253, 0.78);;

}
.equip-dot-desk{
    display: none;
    cursor: default;
    border-radius: 5px;
    padding: 15px;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 620px;
    position:absolute;
    right: -130px;
    top:120%;
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(123, 46, 239, 0.8);
    border-radius: 8px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    opacity: 0%;
}
.dot-desk-img{
    overflow: hidden;
   
}
.desk-text{
    margin-left:10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap:2%;

}
.dot-desk-img img{
    height: 150px;
    width: 100%;
    filter:hue-rotate(230deg);
}
.dot-desk-title{
    text-transform: uppercase;
    /* margin-top:20px; */
    padding: 1px 10px;
    font-size: 30px;
    width: fit-content;
    /* text-align: center; */
    font-weight: bold;
    color:rgb(253, 241, 255);
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(70, 7, 179, 0.7);
    border-radius: 5px;
    border: 1px solid rgba(93, 0, 253, 0.3);
}
.dot-desk-text{
    padding:0px 10px;
    text-align: left;
    font-size: 23px;
    color: white;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(70, 7, 179, 0.7);
    border-radius: 5px;
    border: 1px solid rgba(93, 0, 253, 0.3);
    /* padding: 10px; */
}
.equip-dot:hover{
    background-color: rgba(161, 100, 253);;
    transition: 0.5s all;
}
 #adam{
    right:30%;
    top:230px;
}
#apolo{
    right:36%;
    top:50%;
}
#mic{
    right:64%;
    top:30%;
}
#zhivchik{
    right:75%;
    top:50%;
}

.equip-item{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.equip-item-image{
    min-width: 400px;
    background-image: url("assets/equip_bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.equip-item-image img{
    height: 230px;
    width: auto;
}

.equip-item-title{
    margin-top:20px;
    position:relative;
    font-size: 30px;
}
.equip-item-figure {
    z-index: 3;
        background-color: rgba(161, 100, 253);;
        opacity: 0.95;
        box-shadow: 0px 17px 20.25px 4.75px rgba(0, 1, 0, 0.22);
        position: absolute;
        left:0;
        margin-left:370px;
        top: 0;
        margin-top:25px;
        width: 220px;
        height: 105px;
        z-index: 82;
        clip-path: polygon(0 0, 100% 0%, 100% 52%, 14% 46%);
        display: flex;
        justify-content: center;
        align-items: top;

      }
       #apollo{
           
           margin-top:10px;
         height: 110px;
          width: 420px;
          clip-path: polygon(0 0, 100% 0%, 100% 53%, 7% 44%);
      }
      #apollo-title{
          margin-top:12px;
          font-size: 27px;
          margin-left:50px;
      }
    #rode{
        width: 210px;
    }
    #rode-title{

        /* margin-right:10px; */
    }
      .eq-tit{
          text-transform: uppercase;
          font-size: 30px;
          /* position: absolute; */
          /* bottom:0; */
          /* margin-left:90px; */
          margin-top:10px;
          color: rgb(255, 255, 255);
          z-index: 3;
      }
      
      .equip-item-block{
        /* margin-left:20px; */
        text-transform: uppercase;
    }
    .equip-item-desc{
        position: relative;
        margin-top:100px;
        height: 200px;
      }
      .desc-figure{
          font-size: 23px;
          margin-left: 30px;
          height: 100px;
          background-color: #fff;
          width: 650px;
          /* clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%); */
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left:10px;
          /* border:1px solid rgb(212, 212, 212); */
          box-shadow: 3px 3px 10px rgb(180, 180, 180);
      }
      .desc-tit{
          /* margin-left: 5px; */
      }
      .break-equip-price{
          height: 65px;
          background-image: url("assets/break_to_price.png");
          background-repeat: no-repeat;
          background-size: cover;
          filter: brightness(30%);
      }
      .price{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          height: 800px;
          background-color: rgb(0, 0, 0);
      }
      .price-headline{
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: 50px;
          color:white;
          height: 150px;
          /* background-color: grey; */
          width: 900px;
          justify-self: center;
          align-self: center;
      }
      .price-wrapper{
          /* background-color: #fff; */
          width: 950px;
          height: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          /* box-shadow:0px 30px 20px rgb(150, 23, 150); */
      }
      .price-card{
          
          cursor:pointer;
          color:white;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          height: 400px;
          width: 260px;
          border:2px solid rgb(0, 0, 0);
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(161, 100, 253) 0%, rgba(0,0,0,1) 20%);
          box-shadow: -15px 10px rgb(66, 28, 125),-25px 20px 2px rgba(161, 100, 253);;
          transition: ease-in-out 0.5s;
          border-top: 1px solid rgba(42, 1, 58, 0.5) ;
          border-right: 1px solid rgba(105, 5, 145, 0.5) ;
      }
      .price-card:hover{
        background: rgba(161, 100, 253, 0.78);
background: linear-gradient(0deg, rgba(161, 100, 253) 0%, rgba(0,0,0,1) 75%);
        /* transition: ease-in-out 0.5s ; */
        box-shadow: -15px 10px rgba(110, 52, 198);;
      }
      .price-card-img{
          
          /* height: 100%; */
          justify-self: start;
      }
      .price-card img{
        margin-top:20px;
          /* justify-self: flex-start; */
          /* margin-top:20px; */
          height: 60px;
          width: 60px;
      }
      .price-item-title{
          margin-top:10px;
          font-size: 30px;
          /* margin-bottom:200px; */
      }
      .price-card-value{
          /* text-decoration: white; */
          margin-top:10px;
          /* margin-bottom:200px; */
          font-size: 48px;
          color:rgba(161, 100, 253);
      }
      .price-card-value span{
        color:white;
      }
      .price-card-desc{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top:30px;
          font-size: 20px;
      }
      .price-card-desc span{
          display:block;
          margin:0 auto;
      }
      .price-card a{
          height: 100%;
          margin-top:50px;
      }
      .price-card button{
          cursor: pointer;
          text-transform: uppercase;
          background-color: rgba(0,0,0,0);
          border:1px solid white;
          color:white;
          height: 50px;
          width: 200px;
          font-size: 25px;
          font-family: "Din";
      }
      .price-card button:hover{
        border:1px solid rgba(161, 100, 253);;
        transition: ease-in-out 0.5s;
        background-color: rgba(161, 100, 253);;
      }
      #disk{
          height: 45px;
          width: 45px;
            margin-top:35px;
      }
      .examples{
display: flex;
flex-direction: column;
          /* height: 750px; */
          background-color: white;
      }
      .examples-headline{
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          text-transform: uppercase;
      }
      .examples-wrapper{
          background-image: url("assets/examples_bg.png");
          height: 800px;
      }
      .examples-item{
          margin-top: 20px;
          color: white;
          display: flex;
          justify-content: flex-end;
          height: 400px;
      }
      .examples-item:nth-child(2){
justify-content: start;
flex-direction: row-reverse;
      }
      .examples-item-figure{
          display: flex;
          /* justify-content: center; */
          align-items: center;
          text-transform: uppercase;
       width: 380px;
        padding-left: 10px;
       background-color:rgba(161, 100, 253);
       height: 75px;
       align-self: center;
       margin-right: 10px;
       margin-bottom: 10px;
      }
      #guber{
          width: 320px;
      }
      .ex-tit{
        font-size: 25px;
      }
      .ex-tit span{
          display: block;
      }
      .examples-item-spotify{
          width: 600px;
      }
      .contacts{
          height: 750px;
      }
      .contacts-headline{
          color: white;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          text-transform: uppercase;
      }
      .contacts-wrapper{
          display: flex;
          height: 700px;
          color: white;
      }
      .contacts-map{
          display: flex;
          flex-direction: column;
          width: 1000px;
          /* height: 500px; */
      }
      .contacts-map-adress{
          margin-top:10px;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
      } 
      .contacts-info{
          display: flex;
          flex-direction: column;

      }
      .contacts-list{
          margin:0px;
          display: flex;    
          flex-direction: column;
          justify-content: space-between;
          text-transform: uppercase;
          list-style: none;
          font-size: 30px;
          height: 280px;
      }
      .contacts-list li{
          display: flex;
          align-items: center;
          /* align-content: center; */
      }
      .contacts-list a{
        margin-left:10px;
          text-decoration: none;
          color:white;
      }
      .contacts-list img{
        height: 25px;
      }
      .contacts-list img:nth-child(1){
          align-self: start;
      }
      .contacts-list li span{
          display: block;
      }
      .contacts-form{
          margin:30px 0px 0px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          /* justify-content: center; */
          width: 500px;
          height: 300px;
            /* border:1px solid white; */
        }
        .contacts-form-title{
            font-size: 30px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .contacts-form-title span{
            display: block;
            font-size: 25px;
        }
        form input{
            text-transform: uppercase;
            font-family: "Din";
            font-size: 15px;
            margin:30px auto 0px auto;
            display: block;
            height: 40px;
            width: 400px;
            background-color: #fff;
            border: none;
        }
        form button{
            font-family: "Din";
            font-size: 25px;
            display: block;
            margin:0 auto;
            background-color: rgba(0,0,0,0);
            border:1px solid white;
            color:white;
            text-transform: uppercase;
            width: 400px;
            height: 40px;
            margin-top:30px;
        }
@media (max-width:1200px){
    .break-intro-gallery{
        width: 1150px;
    }
}
@media (max-width:1100px){
    nav ul{
        font-size: 22px ;
        width: 400px;
    }
    hr{
        width: 400px;
    }
    .intro-wrapper{
        margin-left: 50px;
    }
    .intro h1{
        font-size: 55px;
    }
    .intro h1 span{
        font-size: 45px;
    }
    .break-intro-gallery{
        width: 1080px;
    }
    .desc-figure{
        width: 610px;
    }
    .desc-tit{
        font-size: 22px;
    }
}
.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}